@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  .animated-gradient {
    background: linear-gradient(-45deg, #fcfaf9, #f3d3bd, #4d8b31, #fcfaf9);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  .dark .animated-gradient {
    background: linear-gradient(-45deg, #000000, #1f1611, #4d8b31, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
